.name_icon_container {
    background-color: $main2;
    @include df($ai: center, );
    gap: rem_calc(5);
    padding: rem_calc(5);
    border: rem_calc(1) solid $main2;
    border-radius: rem_calc(5);
    position: relative;
    transition: border 0.3s ease-in-out;

    .name,
    .icon {
        color: $black;
        font-size: rem_calc(14);
        z-index: 1;
        transition: color 0.3s ease-in-out;
    }

    &::before {
        content: '';

        background-color: $white;
        @include h_w_e($v: rem_calc(0));
        @include pos_abs_t_l($t: 50%, $l: 50%);
        transform: translate(-50%, -50%);
        border-radius: inherit;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        border-color: $main3;

        .name,
        .icon {
            color: $main3;
        }

        &::before {
            @include h_w($h: 100%, $w: 99.5%);
        }
    }
}

/** RESPONSIVE **/
@media (max-width: rem_calc(430)) {
    .name_icon_container {

        .name,
        .icon {
            font-size: rem_calc(12);
        }
    }
}