/***************** les colors *****************/
// color basic
$main: #F2F5F9;
$darkMain: #1B1B1F;

$card: #F6F6F7;
$darkCard: #161618;

$menuBgColor: #F2F7FC;

$main2: #E1E8EF;
$main3: #FE9319;

$textColor: #023652;

$white: #FFFFFF;
$black: #000000;
$blue: #0363C3;
$customBlack: #3C4B64;
$customWhite: #C1D1D5;

$errorColor: #e23636;
$successColor: #00CC8D;
$warningColor: #edb95e;

/***************** les fonts *****************/
$font_1: 'font_1', serif;
$font_2: 'font_2', serif;
$font_3: 'font_3', serif;

/***************** les variables de calcul *****************/
$baseFontSize: 16px !default;